{% extends "base.html" %} {% block css %}
<link href="/assets/css/avatargenerate.css?v={{date().timestamp}}" rel="stylesheet" />
{% endblock %} {% block javascript %}
<script src="/assets/javascript/avatargenerate.js?v={{date().timestamp}}" type="text/javascript"></script>
{% endblock %} {% block body %}
<div class="row">
   <div class="col-md-6 mt-5">
      <div class="card">
         <div class="card-body">
            <h4>Maak account op {{hotelname}}</h4>
            <hr>
            <div class="row text-left">
               <div class="col-md-12">
                  <form action="/register/account/create" method="POST">
                     <label for="username">{{hotelname}}naam</label>
                     <input type="text" name="username" placeholder="{{hotelname}}naam..." value="{{flashdata.username}}" id="username" class="form-control">
                     <label for="gender" id="repeatpassword" class="pt-4">Selecteer uw geslacht</label>
                     <select class="form-control display" name="gender" id="gender">
                        <option value="M" class="male nav-selected" data-gender="M">Man</option>
                        <option value="F" class="female" data-gender="F">Woman</option>
                     </select>
                      <div class="row mt-3">
                        <div class="col-12 col-xs-12 col-md-12">
                              <input type="hidden" name="habbo-avatar" id="avatar-code">
                             <input type="submit" class="btn btn-outline-info w-100" value="Aanmaken">
                        </div>
                    </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6 mt-5">
      <div class="card">
         <div class="card-body">
            <h4>Personaliseer je {{hotelname}}</h4>
            <hr>
            <div class="row text-left">
               <div class="col-md-12">
                   <div id="avatarSelector" class="builder-viewport">
                         <div class="main-navigation">
                            <ul>
                               <li class="active">
                                  <a href="#" data-navigate="hd" data-subnav="gender"><img src="/assets/images/avatareditor/body.png" /></a>
                               </li>
                               <li>
                                  <a href="#" data-navigate="hr" data-subnav="hair"><img src="/assets/images/avatareditor/hair.png" /></a>
                               </li>
                               <li>
                                  <a href="#" data-navigate="ch" data-subnav="tops"><img src="/assets/images/avatareditor/tops.png" /></a>
                               </li>
                               <li>
                                  <a href="#" data-navigate="lg" data-subnav="bottoms"><img src="/assets/images/avatareditor/bottoms.png" /></a>
                               </li>
                               <li>
                                  <a href="#"><img src="/assets/images/avatareditor/saved-looks.png" /></a>
                               </li>
                            </ul>
                         </div>
                         <div class="sub-navigation">
                            <ul id="hair" class="hidden">
                               <li>
                                  <a href="#" class="hair nav-selected" data-navigate="hr"></a>
                               </li>
                               <li>
                                  <a href="#" class="hats" data-navigate="ha"></a>
                               </li>
                               <li>
                                  <a href="#" class="hair-accessories" data-navigate="he"></a>
                               </li>
                               <li>
                                  <a href="#" class="glasses" data-navigate="ea"></a>
                               </li>
                               <li>
                                  <a href="#" class="moustaches" data-navigate="fa"></a>
                               </li>
                            </ul>
                            <ul id="tops" class="hidden">
                               <li>
                                  <a href="#" class="tops nav-selected" data-navigate="ch"></a>
                               </li>
                               <li>
                                  <a href="#" class="chest" data-navigate="cp"></a>
                               </li>
                               <li>
                                  <a href="#" class="jackets" data-navigate="cc"></a>
                               </li>
                               <li>
                                  <a href="#" class="accessories" data-navigate="ca"></a>
                               </li>
                            </ul>
                            <ul id="bottoms" class="hidden">
                               <li>
                                  <a href="#" class="bottoms nav-selected" data-navigate="lg"></a>
                               </li>
                               <li>
                                  <a href="#" class="shoes" data-navigate="sh"></a>
                               </li>
                               <li>
                                  <a href="#" class="belts" data-navigate="wa"></a>
                               </li>
                            </ul>
                         </div>
                         <div id="clothes-colors">
                            <div id="clothes"></div>
                            <div id="colors"></div>
                         </div>
                         <div id="avatar">
                            <img id="myHabbo" src="" alt="My Habbo" title="My Habbo" />

                         </div>
                      </div>
                </div>
            </div>
         </div>
     </div>
   </div>
</div>
{% endblock %}